select{
    min-width:200px;
}
input{
    min-width:200px;
}
.search-container{
    min-height:120px;
    border: 1px solid rgba(0,0,0,0.38);
    border-radius: 8px;
    margin-bottom: 16px;
}
.components-div{
    min-height: 96px;
    padding:16px;
    display: flex;
    align-items: center;
    place-content: center;
}
.header-div{
    height: 24px;
    background-color: #818181;
    display: flex;
    align-items: center;
    place-content: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    font-weight: bold;
    padding:8px;
}
.select{
    margin-right:16px; 
}